@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  overflow-x: hidden;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

@font-face {
  font-family: 'SkModernist';
  src: url('./assets//fonts/Sk-Modernist-Regular.otf');
}

/* * {
  outline: 1px solid red;
} */